body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Paragrafo-base {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.porta-cella {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:0px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.porta-box-ancorato {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:0px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Etichetta {
	color:#919396;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Specifica {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Revisione {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Descrizione {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Codice-standard {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Data {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.Nome {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Istruzioni {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Documento {
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
div.frame-1 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:89px;
}
div.frame-2 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:109px;
}
div.frame-3 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:42px;
}
div.frame-4 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:776px;
}
div.frame-5 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:1017px;
}
div.frame-6 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:89px;
}
div.frame-7 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:928px;
}
div.frame-8 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:1017px;
}
div.frame-9 {
	border-style:solid;
	border-width:1px;
	height:59px;
	width:1017px;
}
div.frame-10 {
	border-style:solid;
	border-width:1px;
	height:19px;
	width:508px;
}
div.frame-11 {
	border-style:solid;
	border-width:1px;
	height:19px;
	width:1017px;
}
div.frame-12 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:1017px;
}
img.frame-13, div.frame-13 {
	height:44px;
	width:162px;
}
div.frame-14 {
	border-style:solid;
	border-width:1px;
	height:44px;
	width:162px;
}
div.frame-15 {
	border-style:solid;
	border-width:1px;
	height:15px;
	width:162px;
}
div.frame-16 {
	border-style:solid;
	border-width:1px;
	height:18px;
	width:162px;
}
div.frame-17 {
	border-style:solid;
	border-width:1px;
	height:35px;
	width:162px;
}
div.frame-18 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:162px;
}
div.frame-19 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:1180px;
}
div.frame-20 {
	border-style:solid;
	border-width:1px;
	height:46px;
	width:1180px;
}
img.frame-21, div.frame-21 {
	height:512px;
	width:943px;
}
div.frame-22 {
	border-style:solid;
	border-width:1px;
	height:512px;
	width:944px;
}
div.frame-23 {
	border-style:solid;
	border-width:1px;
	height:219px;
	width:944px;
}
div.frame-24 {
	border-style:solid;
	border-width:1px;
	height:732px;
	width:944px;
}
div.frame-25 {
	border-style:solid;
	border-width:1px;
	height:732px;
	width:236px;
}
div.frame-26 {
	border-style:solid;
	border-width:1px;
	height:733px;
	width:1180px;
}
div.frame-27 {
	border-style:solid;
	border-width:1px;
	height:779px;
	width:1180px;
}
