.Paragraph__porta_cella
{
font-family: 'Arial', sans-serif;
display: none;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__porta_box_ancorato
{
font-family: 'Arial', sans-serif;
display: none;
color: #000000;
line-height:1.2;
text-align: center;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__porta_box_in_flusso
{
font-family: 'Arial', sans-serif;
display: none;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__porta_box_nel_flusso_di_testo
{
font-family: 'Arial', sans-serif;
display: none;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__porta_tabella
{
font-family: 'Arial', sans-serif;
display: none;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Specifica__Etichetta
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Generali__Specifica
{
font-family: 'Arial', sans-serif;
font-size: 0.87em;
font-weight: bold;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Generali__Revisione
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Generali__Descrizione
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Generali__Codice_standard
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Generali__Data
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Fasi__Fase5__Nome
{
font-family: 'Arial', sans-serif;
font-size: 2.25em;
font-weight: bold;
color: #000000;
line-height:1.2;
text-align: center;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Fasi__Fase5__Istruzioni
{
font-family: 'Arial', sans-serif;
font-size: 0.87em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Paragraph__Fasi__Fase5__Documento
{
font-family: 'Arial', sans-serif;
font-size: 0.75em;
color: #000000;
line-height:1.2;
text-align: left;
margin-top:0em;
margin-bottom:0em;
padding-left:0em;
padding-right:0em;
text-indent:0em;
}


.Character__LINK_CONTENT
{
}


.Character__LINK_URL
{
}


.Character__LINK_TARGET
{
}


.Object__Fasi__Fase5__Immagine_descrittiva
{
border-style:solid;
border-width:0em;

}


.Object__Fasi__Fase5__Immagine_descrittiva__Immagine
{
border-style:solid;
border-width:0em;

}


.Object__Generali__Serie_immagine
{
border-style:solid;
border-width:0em;

}


.Object__Generali__Serie_immagine__Immagine
{
border-style:solid;
border-width:0em;

}


.Object__contenitoreHeader
{
border-style:solid;
border-width:0em;

}


.Object__contenitore
{
border-style:solid;
border-width:0em;

}
