body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Paragrafo-base {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.porta-cella {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:0px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Etichetta {
	-epub-ruby-position:over;
	color:#919396;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Specifica {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Revisione {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Descrizione {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Codice-standard {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Data {
	-epub-ruby-position:over;
	color:#282425;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
div.frame-1 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:84px;
}
div.frame-2 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:104px;
}
div.frame-3 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:39px;
}
div.frame-4 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:738px;
}
div.frame-5 {
	border-style:solid;
	border-width:1px;
	height:29px;
	width:967px;
}
div.frame-6 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:84px;
}
div.frame-7 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:882px;
}
div.frame-8 {
	border-style:solid;
	border-width:1px;
	height:14px;
	width:967px;
}
div.frame-9 {
	border-style:solid;
	border-width:1px;
	height:59px;
	width:967px;
}
div.frame-10 {
	border-style:solid;
	border-width:1px;
	height:19px;
	width:483px;
}
div.frame-11 {
	border-style:solid;
	border-width:1px;
	height:19px;
	width:967px;
}
div.frame-12 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:967px;
}
div.frame-13 {
	border-style:solid;
	border-width:1px;
	height:44px;
	width:212px;
}
div.frame-14 {
	border-style:solid;
	border-width:1px;
	height:16px;
	width:212px;
}
div.frame-15 {
	border-style:solid;
	border-width:1px;
	height:19px;
	width:212px;
}
div.frame-16 {
	border-style:solid;
	border-width:1px;
	height:35px;
	width:212px;
}
div.frame-17 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:212px;
}
div.frame-18 {
	border-style:solid;
	border-width:1px;
	height:79px;
	width:1180px;
}
