
body{
	font-family: sans-serif;
	font-size: 16px;
}


/*contenitore principale*/
#siteContainer
{
	margin: auto;
	margin-top: 0px;
	width: 980px;
}



/*
	riservato per custom
*/

#header
{
	width: 100%;
	height: 100px;
	border-bottom: solid white 5px;
	position: relative;
}

#footer
{
	width: 100%;
	height: 40px;
	clear: both;
}


#footer p
{
	color: gray;
	text-align: center;
}

#pageContainer
{
	width: 980px;
	padding: 0px;
	min-height: 600px;
}


#headerLangsContainer
{
	position: absolute;
	bottom: 3px;
	left: 3px;
}



.carouselItemWrapper{
	
	position: relative;
	
	
}



/*



#pageNav
{
	width: 750px;
	padding: 5px;
	padding-top: 0px;
	margin: 0px;
	margin-left: 240px;
	text-align: right;
}

#pageNav ul
{
	margin: 0px;
	padding: 0px;
}

#pageNav li
{
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#pageNav li a:link, #pageNav li a:visited
{
	text-decoration: none;
	color: #666666;
}

#pageNav li a:hover
{
	text-decoration: none;
	color: #999999;
}





aside
{
	width: 230px;
	float: left;
	padding: 5px;
	padding-top: 0px;
}

aside ul
{
	margin-left: 20px;
	padding-left: 0;
}

aside ul li
{
	margin: 0;
	padding: 0
}

aside ul li a,
aside ul li a:visited
{
	text-decoration: none;
	color: #666666;
}
aside ul li a:hover
{
	color: #999999;
}

**/


